.home {
  /*top: 80px;*/
  /*position: relative;*/
  height: 100%;
  width: 100%;
}

/*Dash Board */

.home-hero {
  color: #fff;
  /*background: linear-gradient(to right, rgba(245, 245, 245, .7), rgba(245, 245, 245, .7)), url("https://res.cloudinary.com/dduwkdctl/image/upload/v1669708933/Chaurasiaaditya.in/images/background2_osubfe.svg");*/
  /*background-position: center;*/
  background-image: url("https://res.cloudinary.com/dduwkdctl/image/upload/v1673931280/Kanban%20Project/wave_oawig5.svg");
  background-repeat: no-repeat;
  /*background-size: cover;*/
  height: auto;
  min-height: 80rem;
  max-height: 120rem;
  position: relative
}

.hero_image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://res.cloudinary.com/dduwkdctl/image/upload/v1673931218/Kanban%20Project/blob_2_bchup7.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 600px;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-0px);
  }
}

@media only screen and (max-width: 37.5em) {
  .home-hero {
    height: unset;
    min-height: unset
  }
}


/* About */
.about {
  background: #fafafa
}

.about__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem
}

@media only screen and (max-width: 56.25em) {
  .about__content {
    grid-template-columns: 1fr;
    grid-gap: 8rem
  }
}

.about__content-title {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 3rem
}

@media only screen and (max-width: 37.5em) {
  .about__content-title {
    font-size: 2.4rem
  }
}

.about__content-details-para {
  font-size: 1.8rem;
  color: #666;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 1rem
}


.about__content-details-para:last-child {
  margin-bottom: 4rem
}

.about__content-details-para a {
  text-decoration: underline;
  font-weight: 700;
  color: #facf0f;
  margin: 0 3px
}

.skills_image {
  height: 60px;
}

.skills {
  display: flex;
  flex-wrap: wrap
}

.skills__skill {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #666;
  text-align: center;
}


@keyframes slidein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.about__content-details-para li {
  list-style: disc;
}


/*From main style*/

.heading-sec__mb-med {
  margin-bottom: 9rem
}

@media only screen and (max-width: 56.25em) {
  .heading-sec__mb-med {
    margin-bottom: 8rem
  }
}

.heading-sec__main {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative;
  color: #111
}


.heading-sec__main::after {
  content: '';
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  background: #facf0f;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px
}

@media only screen and (max-width: 37.5em) {
  .heading-sec__main::after {
    top: calc(100% + 1.2rem)
  }
}
