<div class="home">


  <!--  Dash board -->
  <section class="home-hero">
    <div class="about_content">

      <!--        Left -->
      <div class="hero_image">
        <div *ngIf="!isLoggedIn; else elseBlock">
          <h1>My Work Planner brings all your tasks, teammates, and tools together</h1>
          <p>Collaborate, manage projects, and reach new productivity peaks.
            <br>
            Keep everything in the same place—even if your team isn’t.
          </p>
          <div class="hero_buttons">
            <button class="button button--primary" color="primary" mat-raised-button routerLink="register">Sign up -
              it's free!
            </button>
            <button class="button button--secondary" color="accent" mat-raised-button routerLink="login">Log in</button>
          </div>
        </div>
        <ng-template #elseBlock class="hero_image">
          <h1>
            Hello {{firstName}} !
          </h1>
          <p>
            Welcome to My Work Planner
            <br>
            Go to your Boards to start planning your tasks
          </p>
          <div class="hero_buttons">
            <button class="button button--primary" color="primary" mat-raised-button routerLink="/dashboard">Boards
            </button>
          </div>
        </ng-template>

      </div>
      <!--        Right-->
      <div class="hero_background">
        <img
          alt="hero image"
          src="https://res.cloudinary.com/dduwkdctl/image/upload/v1674188551/Kanban%20Project/home_main_jbkz3d.webp"
          style="width: 60%">
      </div>
    </div>
  </section>


  <!--  About Us -->
  <section class="about sec-pad">
    <h2 class="about_heading">
      About Us
    </h2>
    <div class="about_content">

      <!--        Left    -->
      <div class="about_left">
        <div>
          <img alt="about_image" src="https://res.cloudinary.com/dduwkdctl/image/upload/v1674190490/Kanban%20Project/aboutus_erfv71.jpg"
          style="width: 100%">
        </div>
      </div>

      <!--        Right -->
      <div class="about_right">
        <div>
          <p class="about__content-details-para">
            The Kanban board section of our website is designed to provide users with a simple and intuitive way to
            manage and track their work tasks, projects, or processes. The section is divided into several key areas,
            including:</p>
          <ul class="about__content-details-para">
            <li class="about__content-details-list-item"> <b>The Kanban Board:</b> This is the main feature of the section and is where users can create and manage their
              tasks. The board displays tasks in columns, with each column representing a different stage of the workflow.
              Users can create new tasks, move tasks between columns, and set task priorities.
            </li>
            <li class="about__content-details-list-item"> <b>Task Management:</b> Users can view, edit, and delete tasks from this area. They can also assign tasks to team
              members, set due dates, and add comments.
            </li>
            <li class="about__content-details-list-item"><b>Reports:</b> Users can generate reports on the progress of their tasks and projects. Reports can be exported in
              different formats, such as PDF or CSV.
            </li>
            <li class="about__content-details-list-item"><b>User Management:</b> Users can invite team members to collaborate on their tasks and projects, as well as manage
              their permissions.
            </li>
            <li class="about__content-details-list-item"><b>Settings:</b> Users can customize the board to their specific needs. They can change column names, add new
              columns, and change the board's layout.
            </li>
          </ul>
          <p class="about__content-details-para">
            Overall, the Kanban board section of our website is an easy-to-use, flexible, and powerful tool for managing
            and tracking tasks, projects, and processes. It is designed to help users stay organized, on track, and in
            control of their work. </p>
        </div>
      </div>
    </div>
  </section>


</div>
