<div class="home">


  <!--  Dash board -->
  <section class="home-hero">
    <div class="about_content">

      <!--        Left -->
      <div class="hero_image">
        <div *ngIf="!isLoggedIn; else elseBlock">
          <h1>My Work Planner brings all your tasks, teammates, and tools together</h1>
          <p>Collaborate, manage projects, and reach new productivity peaks.
            <br>
            Keep everything in the same place—even if your team isn’t.
          </p>
          <div class="hero_buttons">
            <button class="button button--primary" color="primary" mat-raised-button routerLink="register">Sign up -
              it's free!
            </button>
            <button class="button button--secondary" color="accent" mat-raised-button routerLink="login">Log in</button>
          </div>
        </div>
        <ng-template #elseBlock class="hero_image">
          <h1>
            Hello {{firstName}} !
          </h1>
          <p>
            Welcome to My Work Planner
            <br>
            Go to your Boards to start planning your tasks
          </p>
          <div class="hero_buttons">
            <button class="button button--primary" color="primary" mat-raised-button routerLink="/dashboard">Boards
            </button>
          </div>
        </ng-template>

      </div>
      <!--        Right-->
      <div class="hero_background">
        <img
          alt="hero image"
          src="https://images.ctfassets.net/rz1oowkt5gyp/75rDABL8fyMtNLlUAtBxrg/c5e145977a86c41c47e17c69410c64f7/TrelloUICollage_4x.png"
          style="width: 50%">
      </div>
    </div>
  </section>


  <!--  About Us -->
  <section class="about sec-pad">
    <h2 class="about_heading">
      About Us
    </h2>
    <div class="about_content">

      <!--        Left    -->
      <div class="about_left">
        <div>
          <img alt="about_image" src="">
        </div>
      </div>

      <!--        Right -->
      <div class="about_right">
        <h3 class="about__content-title">Get to know me!</h3>
        <div>
          <p class="about__content-details-para">
            I am Aditya, a graduate pursuied my degree in Mechanical Engineering from University of Mumbai. I am
            deeply passionate about computer systems. I am interested in designing and engineering impactful web
            Applications. I started off with Java development and I am a certified Full-Stack Developer from NIIT
            Limited and since then I've been hooked into programming.
        </div>
      </div>
    </div>
  </section>


</div>
