<div class="home">


<!--  Dash board -->
  <section class="home-hero">
    <div class="main-container">
      <div class="about__content">

        <!--        Left -->
        <div class="about__content-main">
          <h3 class="about__content-title">Get to know me!</h3>
          <div class="about__content-details">
            <p class="about__content-details-para">
              I am Aditya, a graduate pursuied my degree in Mechanical Engineering from University of Mumbai. I am deeply passionate about computer systems. I am interested in designing and engineering impactful web Applications. I started off with Java development and I am a certified Full-Stack Developer from NIIT Limited and since then I've been hooked into programming.
          </div>
        </div>



        <!--        Right-->
        <div class="about__content-skills">
          <h3 class="about__content-title">Register</h3>
          <div class="skills">

            <div>
              <app-register></app-register>
            </div>



          </div>
        </div>
      </div>
    </div>
  </section>

<!--  About Us -->

  <section id="about" class="about sec-pad">
    <div class="main-container">
      <h2 class="heading heading-sec heading-sec__mb-med">
        <span class="heading-sec__main">About Me</span>
        <span class="heading-sec__sub">
                Here you will find more information about me, what I do, and my
                current skills mostly in terms of programming and technology
            </span>
      </h2>
      <div class="about__content">

<!--        Left -->
        <div class="about__content-main">
          <h3 class="about__content-title">Get to know me!</h3>
          <div class="about__content-details">
            <p class="about__content-details-para">
              I am Aditya, a graduate pursuied my degree in Mechanical Engineering from University of Mumbai. I am deeply passionate about computer systems. I am interested in designing and engineering impactful web Applications. I started off with Java development and I am a certified Full-Stack Developer from NIIT Limited and since then I've been hooked into programming.
          </div>
        </div>


<!--        Right-->
        <div class="about__content-skills">
          <h3 class="about__content-title">My Skills</h3>
          <div class="skills">
            <div class="skills__skill">
              <img class="skills_image"
                   src="https://res.cloudinary.com/dduwkdctl/image/upload/v1668589899/Chaurasiaaditya.in/skills%20images/java_ysf34h.svg"
                   alt="java">
              <p>Java</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




</div>
