/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}


/* You can add global styles to this file, and also import other style files */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit
}

@media only screen and (max-width:75em) {
  html {
    font-size: 59%
  }
}

@media only screen and (max-width:56.25em) {
  html {
    font-size: 56%
  }
}

@media only screen and (min-width:112.5em) {
  html {
    font-size: 65%
  }
}

.btn {
  background: #facf0f;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
  transition: transform .3s
}

.btn:hover {
  transform: translateY(-3px)
}

.btn--bg {
  padding: 1.5rem 8rem;
  font-size: 2rem
}

.sec-pad {
  padding: 12rem 0
}

@media only screen and (max-width:56.25em) {
  .sec-pad {
    padding: 8rem 0
  }
}

.text-primary {
  color: #333;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
  line-height: 1.6
}

@media only screen and (max-width:37.5em) {
  .text-primary {
    font-size: 2rem
  }
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 92%
}



