/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  --header-background-color: rgba(0, 0, 0, 0);
  --dashboard-sidebar-background-color: rgba(253, 166, 20, 255);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit
}

@media only screen and (max-width:75em) {
  html {
    font-size: 59%
  }
}

@media only screen and (max-width:56.25em) {
  html {
    font-size: 56%
  }
}

@media only screen and (min-width:112.5em) {
  html {
    font-size: 65%
  }
}
