.container {
  width: 80%;
  margin: 100px auto;
}

.notification-heading {
  text-align: center;
  margin-bottom: 20px;
}

.notification-heading h3 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

.notification-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
}

.message {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.message p {
  font-size: 18px;
}

.delete-icon {
  cursor: pointer;
  color: #f44336;
}
