.main-container {
  background-image: url("https://res.cloudinary.com/dduwkdctl/image/upload/v1673931280/Kanban%20Project/wave_oawig5.svg");
  background-repeat: no-repeat;
  min-height: 70rem;
}

.inner-container {
  position: relative;
  margin: 0 auto;
  top: 150px;
  max-width: 80%;
}

.notification-heading {
  text-align: center;
  margin-bottom: 20px;
}

.notification-heading h3 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

.notification-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
}

.message {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.message p {
  font-size: 18px;
}

.delete-icon {
  cursor: pointer;
  color: #f44336;
}
