#main_container {
  display: table;
  background-image: url("https://res.cloudinary.com/dduwkdctl/image/upload/v1673931280/Kanban%20Project/wave_oawig5.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.inner_container {
  display: table-cell;
  vertical-align: middle;
}

.inner_container h1 {
  font-size: 70px;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
}

.inner_container h2 {
  font-size: 30px;
}

.inner_container button {
  margin-top: 10px;
  border-radius: 10px;
  font-size: 25px;
  padding: 25px;
  box-shadow: 1px 1px 10px #333333;

}

@keyframes type{
  from{box-shadow: inset -3px 0 0 #888;}
  to{box-shadow: inset -3px 0 0 transparent;}
}
