<h1 mat-dialog-title>Add Contributor</h1>

<div mat-dialog-content>
  <p>Enter Members Email Id</p>
  <form #addMember="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Member's Email Id</mat-label>
      <input (keyup)="checkEmail()" [(ngModel)]="data.email" matInput name="emailId" required>
    </mat-form-field>
    <mat-error *ngIf="!isEmailValid && (addMember.control.pristine || addMember.control.untouched)">
      Entered email address is not registered with us!
    </mat-error>
  </form>
</div>

<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>No Thanks</button>
  <button [disabled]="!isEmailValid" [mat-dialog-close]="data.email" cdkFocusInitial mat-button>Ok</button>
</div>
