<h1 mat-dialog-title>Add Column</h1>

<div mat-dialog-content>
  <p>Enter Column's Name</p>
  <mat-form-field appearance="fill">
    <mat-label>Column Name</mat-label>
    <input (keyup)="checkColumnName()" [(ngModel)]="data.columnName" matInput name="columnName" required>
  </mat-form-field>
  <mat-error *ngIf="data.columnName === null || data.columnName === ''">
    Column Name Cannot Be Empty
  </mat-error>
  <mat-error *ngIf="!isColumnValid && data.columnName !== null && data.columnName !== ''">
    This Column Name already Exist in this Board
  </mat-error>
</div>

<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>No Thanks</button>
  <button [disabled]="!isColumnValid" [mat-dialog-close]="data.columnName" mat-button>Ok</button>
</div>
