<mat-sidenav-container class="sidenav-container">

  <mat-sidenav class="sidenav" mode="side"
               opened>
    <mat-toolbar class="b1">Boards</mat-toolbar>
    <mat-nav-list>
      <div *ngFor="let board of currentUserKanban?.boards">
        <a (click)="displayBoard(board)" class="board_name" mat-list-item>{{board.boardName}}</a>
      </div>
      <a (click)="addBoardToKanban()" mat-list-item>
        <button><i aria-hidden="true" class="fa fa-window-maximize"></i> &nbsp; Add Board</button>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidebar-content">

    <!-- Add content here -->
    <div class="styleBoard">
      <div *ngIf="boardToDisplay != null">
        <div>
          <h2>{{boardToDisplay.boardName}}</h2>
          <button (click)="editBoardName()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <button (click)="deleteBoard(boardToDisplay.boardName)" mat-raised-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <h2 class="styleBoard1"><a (click)="addMembersToBoard()" *ngIf="boardToDisplay != null">
        <i aria-hidden="true" class="fa fa-user-plus fa-1x"></i> Add-member</a> &nbsp; &nbsp;&nbsp;<a
        (click)="addColumnToBoard()" *ngIf="boardToDisplay != null" class="girds"><h2><i
        aria-hidden="true" class="fa fa-columns fa-1x"></i> Add-Column </h2>
      </a></h2>
      <!-- Members -->
      <div *ngIf="boardToDisplay?.members?.length != 0">
        <h2 *ngFor="let member of boardToDisplay?.members">{{member}}</h2>
      </div>
    </div>

    <div cdkDropListGroup>
<!--      Columns     -->
      <div *ngFor="let column of boardToDisplay?.columns" class="container">
        <div>
          <h3 class="col"> Column : {{column.columnName}}</h3>
          <button (click)="editColumnName(column)">
            <mat-icon>edit</mat-icon>
          </button>
          <br>
        </div>
        <button (click)="deleteColumn(column)" mat-raised-button>
          <mat-icon>delete</mat-icon>
        </button>
        <div
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="column.tasks"
          cdkDropList class="list">
<!--          Tasks     -->
          <div *ngFor="let task of column.tasks" cdkDrag class="task_container">

            <div class="grid_one">
              <div class="task_name">{{task?.name}}</div>
              <div class="task_desc">{{task?.description}}</div>
            </div>
            <div class="priority">
              <p *ngIf="task?.priority === 'Low'"><i class="fa-solid fa-circle low"></i></p>
              <p *ngIf="task?.priority === 'Medium'"><i class="fa-solid fa-circle medium"></i></p>
              <p *ngIf="task?.priority === 'High'"><i class="fa-solid fa-circle high"></i></p>
            </div>
            <div class="date">
              <div><span><b>Started On</b> - {{task?.startDate?.toDateString()}}</span></div>
              <div><span><b>Due Date</b> - {{task?.dueDate?.toDateString()}}</span></div>
            </div>

            <div class="edit">
              <div class="edit-icons">
                <button (click)="editTask(task, column?.columnName!)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button (click)="deleteTask(task)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <div class="assignee">
                <div *ngIf="this.boardToDisplay?.members?.length !== 0" class="assignee-details">
                  <img *ngIf="task?.assigneeImageURL !== ''" [src]="task?.assigneeImageURL" alt="Profile Image">
                  <div><b>Assigned To</b></div>
                </div>
              </div>
            </div>

          </div>
          <a (click)="addTaskToColumn(column)" class="task1">
            <i aria-hidden="true" class="fa fa-tasks fs-2x"></i>&nbsp;Add Task </a>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
