.sidenav-container {
  top: 70px;
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  background-color: steelblue;
}

.sidenav {
  width: 200px;

}

.container {
  width: 380px;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  /*color: white;*/
}


.list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  margin-left: 20px;
}

.sidebar-content {
  min-height: 1200px;
}

.styleBoard {

  padding-top: 15px;
  padding-left: 5px;
  text-align: center;
  font-size: 20px;


}

.board_name {
  color: black;
  font-size: 25px;
  padding-left: 20px;
}

.styleBoard1 {
  display: flex;
  padding-left: 30px;
  justify-content: start;

}


.sidenav {
  background-color: #e0dddd;
}

/*.list {*/
/*  background-color: rgb(9, 81, 112);*/
/*  color: white;*/
/*}*/

.girds {
  display: flex;
  justify-content: center;
  color: black;
}

.col {
  font-size: 20px;
}

.b1 {
  font-size: 35px;
  padding-top: 50px;
  padding-bottom: 30px;
}


/*Task*/
.task_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 16px;
  border-radius: 8px;
  width: auto;
  margin: 16px;
}

.task_container .grid_one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task_container .task_name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #3F51B5;
}

.task_container .task_desc {
  font-size: 18px;
  margin-bottom: 8px;
  color: #333;
}

.task_container .priority {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.task_container .priority i {
  font-size: 18px;
  margin-right: 8px;
}

.task_container .priority i.low {
  color: #28A745;
}

.task_container .priority i.medium {
  color: #FFC107;
}

.task_container .priority i.high {
  color: #DC3545;
}

.task_container .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.task_container .date span {
  font-size: 18px;
  margin-bottom: 8px;
  color: #333;
}

.task_container img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  /*margin-right: 8px;*/
}

.task_container .edit {
  display: flex;
  align-items: center;
}

.task_container .edit button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-right: 8px;
  color: #333;
}

.task_container .assignee-details {
  /*display: flex;*/
  align-items: center;
}

.assignee-details div{
  margin-bottom: 10px;
}

.assignee{
  margin-left: 70px;
}

.task_container .edit-icons {
  margin-left: -50px;
  margin-top: 10px;
}

.task_container .edit-icons button {
  margin-right: 10px;
}







