<footer class="main-footer">
  <div class="main-container">
    <div class="main-footer__upper">
      <div class="main-footer__row main-footer__row-1">
        <h2 class="heading heading-sm main-footer__heading-sm">
          <span>Social</span>
        </h2>
        <div class="main-footer__social-cont">
          <a target="_blank" rel="noreferrer" href="https://linkedin.com/in/chaurasiaaditya/">
            <img class="main-footer__icon"
                 src="https://res.cloudinary.com/dduwkdctl/image/upload/v1668626695/Chaurasiaaditya.in/small%20icons/linkedin-ico_qiprby.png"
                 alt="Aditya Linkedin Profile" />
          </a>
          <a target="_blank" rel="noreferrer" href="https://github.com/ChaurasiaAditya">
            <img class="main-footer__icon"
                 src="https://res.cloudinary.com/dduwkdctl/image/upload/v1668626695/Chaurasiaaditya.in/small%20icons/github-ico_n0sl8u.png"
                 alt="Aditya Github Profile" />
          </a>
          <a target="_blank" rel="noreferrer" href="https://www.instagram.com/mr._adi._/">
            <img class="main-footer__icon"
                 src="https://res.cloudinary.com/dduwkdctl/image/upload/v1668660356/Chaurasiaaditya.in/small%20icons/image_ncdu0h.png"
                 alt="Aditya Github Profile" />
          </a>
        </div>
      </div>
      <div class="main-footer__row main-footer__row-2">
        <h2 class="heading heading-sm text-lt">Aditya Chaurasia</h2>
        <p class="main-footer__short-desc">
          A Full Stack Web Developer building the Frontend and Backend of Websites
          and Web Applications that leads to the success of the overall
          product
        </p>
      </div>
    </div>
    <div class="main-footer__lower">
      &copy; Copyright 2022. Made by
      <a rel="noreferrer" target="_blank" href="https://chaurasiaaditya.in">Aditya Chaurasia</a>
    </div>
  </div>
</footer>
