<footer class="main-footer">
  <div class="footer_upper">
    <div class="footer_logo">
      <img alt="header logo"
           src="https://res.cloudinary.com/dduwkdctl/image/upload/v1673022626/Kanban%20Project/planning_avbnab.png"/>
    </div>
    <div class="footer_about">
      <p>
        My Work Planner brings all your tasks, teammates, and tools together in one place.<br>
        <br>
        Collaborate, manage projects, and reach new productivity peaks. From high rises to the home office, the way your
        team works is unique—accomplish it all with My Work Planner.
        <br>
        Keep everything in the same place—even if your team isn’t together.
      </p>
    </div>
    <div class="footer_links">
      <h1>Quick Links</h1>
      <ul>
        <li>
          <a routerLink=""> Home </a>
        </li>
        <li>
          <a *ngIf="isLoggedIn" routerLink="dashboard">Boards </a>
        </li>
        <li>
          <a *ngIf="!isLoggedIn" routerLink="register">Register</a>
        </li>
        <li>
          <a *ngIf="!isLoggedIn" routerLink="login">Login</a>
        </li>
        <li>
          <a *ngIf="isLoggedIn" routerLink="profile">Profile</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer_lower">
    &copy; Copyright 2022. Made in India with ❤️ by <br>
    <a href="https://chaurasiaaditya.in" rel="noreferrer" target="_blank">Aditya Chaurasia</a>
    <a href="https://sarthak.website" rel="noreferrer" target="_blank">Sarthak Agarwal</a>
    <a href="https://github.com/Krishna-Mk09" rel="noreferrer" target="_blank">Vamshi Krishna</a>
  </div>
</footer>
