.main-footer {
  background: #000;
  color: #fff
}

.footer_upper {
  padding: 40px 20px 15px 20px;
  display: grid;
  grid-template-columns: 30% 50% 20%;
}

@media all and (max-width: 1000px) {
  .footer_upper {
    grid-template-columns: 100%;
  }

  .footer_logo {
    margin: 0 auto !important;
  }

  .footer_links {
    margin: 20px !important;
  }
}

.footer_logo img {
  height: 300px;
  width: 300px;
}

.footer_about {
  margin: auto auto;
  padding: 0 20px;
}

.footer_about p{
  font-size: 20px;
  line-height: 1.3;
}

.footer_links{
  margin: 0 auto;
}

.footer_links ul{
  list-style: none;
  padding: 0;
}

.footer_links ul li{

  margin: 25px 0;
}

.footer_links ul li a{

  color: #fff;
  font-size: 20px;
  text-decoration: none;
}


.footer_lower {
  padding: 4rem 0;
  border-top: 1px solid #444;
  color: #eee;
  font-size: 1.2rem;
  text-align: center
}

.footer_lower a {
  margin-right: 10px;
  text-decoration: underline;
  color: white;
  font-weight: 500;
  margin-left: 2px
}

@media only screen and (max-width:56.25em) {
  .footer_lower {
    padding: 3.5rem 0
  }
}
