<div class="login">

  <div class="logo">
    <h1 class="h5">
      <pre>                                                                        Please enter your login credentials</pre>
    </h1>
  </div>
  <div class="h3">
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
      <fieldset class="backcolor">
        <mat-form-field appearance="fill">
          <input matInput placeholder="email" type="email" id="email" name="email" formControlName="email"/>
          <mat-error *ngIf="logInForm.controls['email'].hasError('required')">
            email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="logInForm.controls['email'].hasError('pattern')">
            Please provide proper email
          </mat-error>
        </mat-form-field>

        <br> <br>
        <mat-form-field appearance="fill">
          <input matInput type="password" placeholder="Password" id="password" name="password"
                 formControlName="password"/>
          <mat-error *ngIf="logInForm.controls['password'].hasError('required')">
            password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="logInForm.controls['password'].hasError('minlength')">
            Password should be atleast 8 char
          </mat-error>
          <mat-error *ngIf="logInForm.controls['password'].hasError('pattern')">
            Password should be combination of numbers alphabets and symbols
          </mat-error>
        </mat-form-field>
        <br>  <br>
        <button color="primary" mat-button mat-raised-button type="submit">
          Submit
        </button> <br>
        Not a member? <a href="#">SignUp</a>
      </fieldset>
    </form>
  </div>
</div>


