<div class="profile">

  <div class="update_profile">

    <div>
      <img [src]="currentUser?.imageURL">
      <input (change)="updateImage($event)" type="file">
      <button (click)="uploadProfilePicture()">Upload</button>
    </div>

    <a>Update Profile</a>
    <form class="userForm">
      <mat-form-field appearance="fill">
        <mat-label>
          Update FirstName
        </mat-label>
        <input [(ngModel)]="currentUser!.firstName" matInput name="firstName" required type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>
          Update Last Name
        </mat-label>
        <input matInput type="text" name="lastName"  [(ngModel)]="currentUser!.lastName" required >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>
          Update Mobile Number
        </mat-label>
        <input matInput type="text" name="mobileNumber"  [(ngModel)]="currentUser!.mobileNumber" required >
      </mat-form-field>

      <button type="submit" (click)="updateUser()" >Submit </button>
    </form>
  </div>
</div>
