<header class="header">
  <div class="header__content">

    <div class="header__logo-container">
      <a routerLink="">
        <img alt="Kanban Logo Image"
             class="header__logo-img"
             src="https://res.cloudinary.com/dduwkdctl/image/upload/v1673022626/Kanban%20Project/planning_avbnab.png"/>
      </a>
      <a routerLink="">
        <span class="header__logo-sub">MY WORK PLANNER</span>
      </a>
    </div>

    <div>
      <ul class="header__links">
        <li>
          <a class="header__link" routerLink=""> Home </a>
        </li>
        <li>
          <a class="header__link" routerLink="dashboard">Boards </a>
        </li>
        <li>
          <!--         TODO: Move registor to Home page -->
          <a *ngIf="!isLoggedIn" class="header__link" routerLink="register">Register</a>
        </li>
        <li>
          <!--         TODO: Move registor to Home page and works with relation of logout-->
          <a *ngIf="!isLoggedIn" class="header__link" routerLink="login">Login</a>
        </li>
        <li>
          <!--         TODO: Add relation to login   -->
          <a (click)="logout()" *ngIf="isLoggedIn" class="header__link">Logout</a>
        </li>
        <li>
          <!--         TODO: Move register to Home page and works with relation of logout-->
          <!--          <a class="header__link" matTooltip="Your Profile" routerLink="profile">Profile</a>-->
          <img *ngIf="isLoggedIn" [src]="currentUser?.imageURL" alt="Profile thumbnail" class="thumbnail_image"
               matTooltip="Your Profile" routerLink="profile">
        </li>
      </ul>

      <div class="header__main-ham-menu-cont">
        <img (click)="changeColour1()"
             alt="hamburger menu"
             class="header__main-ham-menu"
             src="https://res.cloudinary.com/dduwkdctl/image/upload/v1668626865/Chaurasiaaditya.in/small%20icons/ham-menu_usixmk.svg"/>
      </div>
    </div>
  </div>

  <!--  Below is for mobile view Only   -->
  <div [style.visibility]="changeColour()" class="header__sm-menu">
    <div class="header__sm-menu-content">
      <ul class="header__sm-menu-links">
        <li class="header__sm-menu-link">
          <a (click)="changeColour1()" routerLink=""> Home </a>
        </li>
        <li class="header__sm-menu-link">
          <a (click)="changeColour1()" routerLink="dashboard"> Boards </a>
        </li>
        <li (click)="changeColour1()" class="header__sm-menu-link">
          <a routerLink="register"> Register </a>
        </li>
        <li (click)="changeColour1()" class="header__sm-menu-link">
          <a routerLink="login"> Login </a>
        </li>
        <li (click)="changeColour1()" class="header__sm-menu-link">
          <a (click)="logout()"> Logout </a>
        </li>
      </ul>
    </div>
  </div>

</header>
